<div class="mt-6 space-y-6">
  <div class="relative flex gap-x-3">
    <div class="flex h-6 items-center">
      <input
        type="checkbox"
        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600
          {{if @errors 'ring-red-500'}}
          mr-2"
        ...attributes
      />
      {{#if @avatar}}
        <img src={{@avatar}} alt="" class="h-8 w-8 flex-shrink-0 rounded-full" />
      {{/if}}
      <span class="font-normal ml-2 block truncate">{{@label}}</span>
    </div>
  </div>
  {{#if @errors}}
    <div>
      <ErrorMessage @errors={{@errors}} />
    </div>
  {{/if}}
</div>